<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel Application
  </div>
  <!--TRIP CARD-->
  <section id="data-card">
    <!--LOCATIONS OF THE TRIP-->
    <div id="data-form">
      <div id="data-form-location">
        <label for="location">
          <span>Current Location</span>
          <input type="text" id="location" placeholder="enter your current locantion">
        </label>
      </div>
      <div id="data-form-destination">
        <label for="destination">
          <span>Destination</span>
          <input type="text" id="destination" placeholder="enter name of country you want travel">
        </label>
      </div>
      <!--TRAVELLING TIME-->
      <!--Search bttn-->
      <div class="trip-search">
        <span>&nbsp;</span>
        <button id="search">Search</button>
      </div>
    </div>
  </section>
</div>
<!-- <script>
  //Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('./service-worker.js');
      });
  }
</script> -->

</body>
</html>